.main {
    display: flex;
    justify-content: space-between;
    align-items: end;
    margin-inline: var(--space-32);
}
.imageContainer {
    position:relative;
    width: 400px;
    height: 400px;

    & img {
        object-fit: contain;
    }
}

.info {
    display: flex;
    flex-direction: column;
    gap: var(--space-4);

    & h4 {
        font-family: var(--font-inter);
    }
    & h6 {
        font-family: var(--font-courier);
        font-size: var(--text-sm);
        color: var(--highlight);
    }

    & p {
        width: 400px;
    }
}

.details {
    display: flex;
    flex-direction: column;
    gap: var(--space-3);
}

@media (max-width: 900px) { 
    .main {
        flex-direction:  column;
        align-items: center;
        gap: var(--space-4);
    }
    .imageContainer {
        width: 300px;
    }

    .info {
        & p {
            width: 300px;
        }
    }
}
