.subNav {
    color: var(--highlight);
    display: flex;
    gap: var(--space-6);
    font-family: var(--font-courier);

    & ul {
        display: flex;
        flex-direction: column;
        gap: var(--space-4);

        & a:hover {
            text-decoration: underline;
        }
    }
}

.activeCategory {
    text-decoration: underline;
}

.sortNav {
    color: var(--highlight);
    display: flex;
    gap: var(--space-4);
    font-family: var(--font-courier);
    margin-top: var(--space-8);
}

.sortNav a:hover {
    text-decoration: underline;
}

.gallery {
     display: grid;
 grid-template-columns: repeat(4, minmax(0, 1fr));
  gap: var(--grid-gap);
  margin-top: var(--space-8);
}

.gallery > a {
  aspect-ratio: 1 / 1;
}


@media (max-width: 900px) {
    .gallery {
         grid-template-columns: repeat(1, minmax(0, 1fr));
    }
}
